SUPABASE_URL=your_supabase_project_url
SUPABASE_KEY=your_supabase_anon_or_service_key

FLOOD_CACHE_TTL_SECONDS=15552000
FEMA_QUERY_URL=https://hazards.fema.gov/arcgis/rest/services/public/NFHL/MapServer/28/query
FEMA_HTTP_TIMEOUT_SECONDS=15
FEMA_DEBUG_TIMEOUT_SECONDS=30
HTTP_USER_AGENT=Mozilla/5.0 (compatible; HouSmart/1.0)
